h2 {
    text-align: center;
}

* {
	padding:0;
	margin:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
 
body {
    background-image: url(../images/Fondo.jpg);
    background-size: cover;
}
/*Menu-----------------------------------------------------------*/ 
.menu_bar {
	display:none;
    z-index: 1;
}
 
header {
	width: 100%;
}
 
header nav {
	background:#023859;
	z-index:1000;
	max-width: 1140px;
	width:95%;
	margin:20px auto;
}
 
header nav ul {
	list-style:none;
}
 
header nav ul li {
	display:inline-block;
	position: relative;
}
 
header nav ul li:hover {
	background: lightgreen;
}
 
header nav ul li a {
	color:#fff;
	display:block;
	text-decoration:none;
	padding: 20px;
}
 
header nav ul li a span {
	margin-right:10px;
}
 
header nav ul li:hover .children {
	display:block;
}
 
header nav ul li .children {
	display: none;
	background:#011826;
	position: absolute;
	width: 150%;
	z-index:1000;
}
 
header nav ul li .children li {
	display:block;
	overflow: hidden;
	border-bottom: 1px solid rgba(255,255,255,.5);
}
 
header nav ul li .children li a {
	display: block;
}
 
header nav ul li .children li a span {
	float: right;
	position: relative;
	top:3px;
	margin-right:0;
	margin-left:10px;
}
 
header nav ul li .caret {
	position: relative;
	top:3px;
	margin-left:10px;
	margin-right:0px;
}
 
@media screen and (max-width: 800px) {
	body {
		padding-top:80px;
	}
 
	.menu_bar {
		display:block;
		width:100%;
		position: fixed;
		top:0;
		background:#E6344A;
	}
 
	.menu_bar .bt-menu {
		display: block;
		padding: 20px;
		color: #fff;
		overflow: hidden;
		font-size: 25px;
		font-weight: bold;
		text-decoration: none;
	}
 
	.menu_bar span {
		float: right;
		font-size: 40px;
	}
 
	header nav {
		width: 80%;
		height: calc(100% - 80px);
		position: fixed;
		right:100%;
		margin: 0;
		overflow: scroll;
	}
 
	header nav ul li {
		display: block;
		border-bottom:1px solid rgba(255,255,255,.5);
	}
 
	header nav ul li a {
		display: block;
	}
 
	header nav ul li:hover .children {
		display: none;
	}
 
	header nav ul li .children {
		width: 100%;
		position: relative;
	}
 
	header nav ul li .children li a {
		margin-left:20px;
	}
 
	header nav ul li .caret {
		float: right;
	}
    
}
/*Contenido--------------------------------------------------------------*/
.contenido {
    margin: 10px;
    display: grid;
    grid-template-columns: auto 60% auto;
}

.texto {
    padding: 20px;
    background-color: white;
    background-size: auto;
    grid-column-start: 2;
    grid-column-end: 2;
    text-align: justify;
}

@media screen and (max-width: 700px){
    .contenido {
        grid-template-columns: auto 80% auto;
        
    }   
}
/*footer-----------------------------------------------------------------*/

.mainFooter {
    margin: 10px;
    display: grid;
    grid-template-columns: auto 20% 20% 20% auto;
    grid-template-rows: 50% 50%;
    background-image: url(../images/Footer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.contact {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
}

.local {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
}

.copyright {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 2;
    text-align: center;
    margin-top: 30px;
}

.social {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 1;
    text-align: center;
}

.facebook {
    background-image: url(../images/Facebook.png);
    width: 30px;
    height: 30px;
    background-size: cover;
}

.twitter {
    background-image: url(../images/Twitter.png);
    width: 30px;
    height: 30px;
    background-size: cover;
}

.google {
    background-image: url(../images/google+.png);
    width: 30px;
    height: 30px;
    background-size: cover;
}

.donacion {
    position: relative;
    background-image: url(../images/donacion.png);
    width: 120px;
    height: 35px;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 100%;
}

/*Imagenes------------------------------------------*/

.ecoLogo {
    position: relative;
    float: left;
    margin: 10px;
}

.ecoBus {
    max-width: 800px;
    max-height: 550px;
    margin: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.ecoCity {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    margin-bottom: 10px;
}

.redBus{
    display: block;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.BiomasaImagen {
    display: block;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.BiomasaImagen2 {
    position: relative;
    float: right;
    display: block;
    margin: 10px;
}
.MapaBiomasa {
    display: block;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.Placas1 {
    display: block;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.Placas2 {
    position: relative;
    float: right;
    display: block;
    margin: 10px;
}

.servicios1 {
    position: relative;
    float: left;
    display: block;
    margin: 10px;
}

.servicios2 {
    position: relative;
    float: right;
    display: block;
    margin: 10px;
}

.servicios3 {
    display: block;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.servicios4 {
    display: block;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

/*Formulario ----------------*/

.formulario {
    display: block;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 45%;
}

#msg {
    display: block;
    margin: 10px;
    margin-right: auto;
    width: 50%;
    height: 50%;
}